# Ignore Visual Studio Code files
.vscode/
*.code-workspace

# Numerous always-ignore extensions
*.orig
*.zip
*~
~*
/*.ico

# OS or Editor folders
Thumbs.db

# Folders to ignore
/Test/
/Release/
/!-Archived/