
# Ignore Visual Studio Code files
/.vscode/
/*.code-workspace

# Numerous always-ignore extensions
/*.ico
*.diff
*.err
*.log
*.orig
*.zip
*~
~*

# OS or Editor folders
._*
.cache
.DS_Store
.idea
Thumbs.db

# Folders to ignore
/Test/
/Release/
/!-Archived/
